/* footer {
    width: 90%;
    height: 50px;
    background-color: blue;
    font-family: 'Baloo Thambi', cursive;
    text-align: center;
    color: white;
} */
p{
    padding-top: 10px;
    font-size: 15px;
    margin-left: 20px;
}